.add-car-main {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-car-main > h2 {
  text-align: left;
}

#form-btn {
  margin-left: 1rem;
  background: var(--green-color);
  border: none;
  padding: 0.5rem 1.4rem;
  font-size: 1.4rem;
}

.form-control-lg .form-control {
  width: 40vw;
}