.addCar {
  margin-left: 30vw;
  margin-right: 5vw;
}

.addCar > h2 {
  margin-bottom: 3vw;
  padding-top: 2rem;
  margin-left: 18rem;
}

#btn-add-car {
  border: none;
  background: var(--green-color);
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  color: white;
  border-radius: 0.5rem;
}

.form-control-lg {
  width: 40vw;
}
