delete-car-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center; 
  margin: 4rem 0;
}

.delete-car-main > h2 {
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
}

.d-cars-delete-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center; 
  margin-top: 3rem;
}

.delete-btn {
    width: 10rem;
    background: var(--green-color);
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.d-car-image-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center; 
}

.d-car-image {
  width: 100px;
}

.delete-table {
  width: 90%;
  margin-bottom: 3rem;
  font-size: 1.6rem;
}

.delete-table tr{
  padding: 4rem;
}

.delete-table tr td{
  padding: 1rem;
}

.th-checkbox {
  width: 10px;
}

.td-checkbox {
  padding: 18rem;
}

@media only screen and (min-width: 480px) {
  .delete-table {
    width: 30%;
  }
}
