.latest-models-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.carousel-container a {
  all: unset;
  cursor: pointer;
}

.react-multiple-carousel__arrow {
  display: none;
}

.react-multiple-carousel__arrow--left {
  border-radius: 0 4rem 4rem 0;
}

.react-multiple-carousel__arrow--right {
  border-radius: 4rem 0 0 4rem;
}

.react-multiple-carousel__arrow::before {
  height: 2rem;
  width: 2rem;
  margin: 1rem 2rem 2rem 0;
  cursor: pointer;
  display: block;
}

@media only screen and (min-width: 480px) {
  .latest-models-main {
    padding-left: 20rem;
  }

  .carousel-container {
    width: 100%;
  }

  .react-multiple-carousel__arrow {
    margin-left: -6rem;
    margin-right: -6rem;
    width: 5.5rem;
    height: 4rem;
    font-size: 0.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    background-color: var(--green-color);
  }
}
