.add-rental-main {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-rental-main > h2 {
  text-align: left;
}

#form-btn {
  margin-left: 1rem;
  background: var(--green-color);
  border: none;
  padding: 0.5rem 1.4rem;
  font-size: 1.4rem;
}

#formSelectCar {
  width: 39vw;
}

.form-control-lg {
  padding: 5px 5px;
  font-size: 1.4rem;
  margin-right: 0;
}

.form-control {
  padding: 5px 5px;
  font-size: 1.4rem;
}
